Repository EOX-A/EOxElements, pull requests merged in 2023-11, with the labels that each got.

#386 feat: StyleOverride & noShadow
  elements/layercontrol/layercontrol.stories.js
  elements/layercontrol/src/components/layer.js
  elements/layercontrol/src/components/layerConfig.js
  elements/layercontrol/src/components/layerGroup.js
  elements/layercontrol/src/components/layerList.js
  elements/layercontrol/src/components/layerTools.js
  elements/layercontrol/src/components/optionalList.js
  elements/layercontrol/src/components/tabs.js
  elements/layercontrol/src/main.js
Labels: layercontrol

#391 fix: optional list update after layer removal
  elements/layercontrol/src/main.js
Labels: layercontrol

#415 fix: inline mode improvements
  elements/itemfilter/src/autocomplete.ts
  elements/itemfilter/src/chips.ts
  elements/itemfilter/src/filters/text.ts
  elements/itemfilter/src/inline.ts
  elements/itemfilter/src/main.ts
Labels: itemfilter

#371 Feature: Display of drawn feature
  elements/drawtools/drawtools.stories.js
  elements/drawtools/src/components/list.js
  elements/drawtools/src/helpers.js
  elements/drawtools/src/main.js
  elements/drawtools/src/style.eox.js
  elements/map/src/draw.ts
  elements/map/src/select.ts
Labels: drawtools

#426 Feature: `eox-jsonform` implementation
  elements/jsonform/examples/catalogSchema.json
  elements/jsonform/examples/catalogStartVals.json
  elements/jsonform/examples/collectionSchema.json
  elements/jsonform/examples/collectionStartVals.json
  elements/jsonform/jsonform.stories.js
  elements/jsonform/package.json
  elements/jsonform/src/main.js
  elements/jsonform/src/style.eox.js
  elements/jsonform/src/style.js
  elements/jsonform/tsconfig.json
  elements/jsonform/vite.config.js
  package-lock.json
  release-please-config.json
Labels: jsonform

#430 Feature: Layer Config
  elements/jsonform/package.json
  elements/jsonform/src/custom-inputs/index.js
  elements/jsonform/src/custom-inputs/minmax.js
  elements/jsonform/src/main.js
  elements/jsonform/src/style.eox.js
  elements/layercontrol/layercontrol.stories.js
  elements/layercontrol/src/components/layerConfig.js
  elements/layercontrol/src/components/layerTools.js
  elements/layercontrol/src/helpers.js
  elements/layercontrol/src/main.js
  elements/map/src/generate.ts
  package-lock.json
Labels: layercontrol

#451 Fix: Handle `tileUrlFunction()` use case for `layerConfig`
  elements/layercontrol/layercontrol.stories.js
  elements/layercontrol/src/components/layerConfig.js
  elements/layercontrol/src/helpers.js
Labels: bug, layercontrol

#413 feat: add reset for individual filters
  elements/itemfilter/src/filters/_expandcontainer.ts
  elements/itemfilter/src/main.ts
  elements/itemfilter/src/style.eox.ts
Labels: itemfilter

#344 Fix sorting on mobile and with hidden layers
  elements/layercontrol/package.json
  elements/layercontrol/src/components/layerList.js
  elements/layercontrol/src/helpers.js
  elements/layercontrol/src/main.js
  elements/layercontrol/test/_mockMap.js
  package-lock.json
Labels: layercontrol
