Repository EOX-A/EOxElements, pull requests merged in 2023-08, with the labels that each got.

#182 Proposal: deprecate attachTo method
  elements/layercontrol/README.md
  elements/layercontrol/src/main.ts
Labels: layercontrol

#177 Filter state management and code refactoring
  elements/itemfilter/index.html
  elements/itemfilter/package.json
  elements/itemfilter/src/filterClient.ts
  elements/itemfilter/src/filterExternal.ts
  elements/itemfilter/src/filters/_expandcontainer.ts
  elements/itemfilter/src/filters/_filterTypes.d.ts
  elements/itemfilter/src/filters/multiselect.ts
  elements/itemfilter/src/filters/range.ts
  elements/itemfilter/src/filters/select.ts
  elements/itemfilter/src/filters/spatial.ts
  elements/itemfilter/src/filters/text.ts
  elements/itemfilter/src/global.d.ts
  elements/itemfilter/src/main.ts
  elements/itemfilter/src/spatial.ts
  elements/itemfilter/src/style.eox.ts
  elements/itemfilter/test/config.cy.ts
  package-lock.json
Labels: itemfilter

#208 Add ol-stac
  elements/map/package.json
  elements/map/src/generate.ts
  elements/map/test/stacLayer.cy.ts
  elements/map/test/stacLayer.json
  package-lock.json
Labels: map

#212 Sync/compare functionality
  elements/map/examples/index.html
  elements/map/main.ts
  elements/map/src/compare.ts
  elements/map/test/sync.cy.ts
Labels: map

#216 Configurable single panel expansion for accordions
  elements/itemfilter/README.md
  elements/itemfilter/index.html
  elements/itemfilter/src/filters/_expandcontainer.ts
  elements/itemfilter/src/main.ts
  elements/itemfilter/test/general.cy.ts
Labels: itemfilter

#221 Make menu subentries scrollable if they cross a length threshold
  elements/layercontrol/src/main.ts
  elements/layercontrol/src/style.eox.ts
  elements/layercontrol/src/style.ts
Labels: layercontrol
