Repository EOX-A/EOxElements, pull requests merged in 2023-12, with the labels that each got.

#491 fix: sorting with optional & hidden layers
  elements/layercontrol/src/components/layerList.js
  elements/layercontrol/src/helpers.js
Labels: layercontrol

#518 Fix: Remove interaction check from `drawtools`
  elements/drawtools/src/methods/draw/init-draw-layer.js
Labels: bug, drawtools

#502 Feature: Add WMS/XYZ Layer
  elements/layercontrol/layercontrol.stories.js
  elements/layercontrol/package.json
  elements/layercontrol/src/components/addLayers.js
  elements/layercontrol/src/components/layerList.js
  elements/layercontrol/src/helpers.js
  elements/layercontrol/src/main.js
  elements/layercontrol/test/_mockMap.js
  elements/layercontrol/test/layersUpdate.cy.js
  elements/map/main.ts
  elements/map/src/generate.ts
  package-lock.json
Labels: layercontrol

#523 chore(docs): improve documentation
  .storybook/preview.js
  elements/map/main.ts
Labels: map

#543 Enable and disable stories based on ENV
  .storybook/main.js
  elements/itemfilter/itemfilter.stories.dev.js
  elements/itemfilter/itemfilter.stories.js
  elements/layercontrol/stories/layercontrol.stories.dev.js
  elements/layercontrol/stories/layercontrol.stories.js
Labels: enhancement

#546 Hotfix: Layercontrol unstyled, jsdocs and cypress test fix
  elements/layercontrol/src/components/add-layers.js
  elements/layercontrol/src/components/layer-tools.js
  elements/layercontrol/src/methods/add-layer/open-close-tab.js
  elements/layercontrol/test/cases/layer-update/add-external-layer.js
Labels: bug
