Repository EOX-A/EOxElements, pull requests merged in 2023-10, with the labels that each got.

#244 Expand/contract layer configs
  .eslintrc
  elements/layercontrol/layercontrol.stories.js
  elements/layercontrol/src/components/layer.js
  elements/layercontrol/src/components/layerGroup.js
  elements/layercontrol/src/components/layerList.js
  elements/layercontrol/src/components/layerTools.js
  elements/layercontrol/src/components/tab-sliders.js
  elements/layercontrol/src/components/tabs.js
  elements/layercontrol/src/helpers.js
  elements/layercontrol/src/main.js
  elements/layercontrol/test/general.cy.js
  elements/layercontrol/test/layersUpdate.cy.js
  utils/styles/button.ts
Labels: layercontrol

#263 refactor: replace TS with JSDoc
  elements/drawtools/drawtools.stories.js
  elements/drawtools/package.json
  elements/drawtools/src/main.js
  elements/drawtools/src/main.ts
  elements/drawtools/src/style.eox.js
  elements/drawtools/src/style.js
  elements/drawtools/test/_mockMap.js
  elements/drawtools/test/general.cy.js
  elements/drawtools/tsconfig.json
  elements/drawtools/typings.d.ts
  elements/drawtools/vite.config.js
  utils/styles/button.ts
Labels: drawtools

#345 fix: removed icon highlight on hover
  elements/layercontrol/src/components/layerTools.js
  utils/styles/button.ts
Labels: itemfilter
