Repository EOX-A/EOxElements, pull requests merged in 2024-04, with the labels that each got.

#791 Feat: use eox-jsonform instead of monaco editor
  elements/storytelling/package.json
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/enums/editor.js
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/helpers/editor.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/markdown-editor.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-editor.js
  elements/storytelling/test/general.cy.js
Labels: enhancement, storytelling

#810 feat: markdown editor for fields with type "markdown"
  .github/workflows/run_tests.yml
  elements/jsonform/jsonform.stories.js
  elements/jsonform/src/helpers/editor.js
  elements/jsonform/src/helpers/index.js
  elements/jsonform/src/main.js
  elements/jsonform/test/cases/index.js
  elements/jsonform/test/cases/load-markdown.js
  elements/jsonform/test/cases/trigger-change-event.js
  elements/jsonform/test/general.cy.js
Labels: jsonform

#809 Feat: Export/Import for storytelling editor
  elements/storytelling/src/enums/editor.js
  elements/storytelling/src/helpers/editor.js
Labels: enhancement, storytelling

#837 Feat: Sticky navigation after hero
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/main.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-hero-with-nav.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/load-hero-section.js
Labels: enhancement, storytelling

#842 Fix: StoryTelling styling and highlight active nav item
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/main.js
  elements/storytelling/src/style.eox.js
Labels: storytelling

#847 Feat: Dedicated fallback mode
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-fallback.js
  elements/storytelling/stories/storytelling.stories.js
Labels: enhancement, storytelling

#858 feat: lightbox for images
  elements/storytelling/package.json
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/misc.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/main.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-lightbox.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-lightbox.js
  elements/storytelling/test/general.cy.js
  package-lock.json
Labels: enhancement, storytelling

#867 Feat: Error handler for StoryTelling
  elements/storytelling/package.json
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/enums/plugin.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/misc.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/helpers/validator.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-config.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/markdown-editor.js
  elements/storytelling/stories/markdown-map-section.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-error.js
  elements/storytelling/test/general.cy.js
  package-lock.json
Labels: enhancement, storytelling

#875 fix: infinite rendering loop
  elements/layercontrol/src/components/layer-list.js
  elements/layercontrol/src/main.js
  elements/layercontrol/src/methods/layer-list/first-updated.js
  elements/layercontrol/src/methods/layer-list/index.js
  elements/layercontrol/src/methods/layer-list/update.js
  elements/layercontrol/src/methods/layercontrol/first-update.js
  elements/layercontrol/src/methods/layercontrol/index.js
  elements/layercontrol/src/methods/layercontrol/update.js
Labels: bug, layercontrol

#888 Fix: Custom section dom structure
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
Labels: bug, storytelling

#889 Feat: Section adding popup
  elements/jsonform/src/style.eox.js
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/enums/editor.js
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/enums/sample.js
  elements/storytelling/src/helpers/editor.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/main.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/markdown-hero-with-nav.js
  elements/storytelling/test/cases/load-editor.js
Labels: enhancement, storytelling

#892 Feat: Auto save in StoryTelling
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/helpers/editor.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/main.js
  elements/storytelling/src/style.eox.js
Labels: enhancement, storytelling

#905 Fix: Hiding editor still shows button due to usage of opacity rather than display
  elements/storytelling/src/style.eox.js
Labels: bug, storytelling

#906 Fix: Repetative prompt to load saved markdown
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/helpers/editor.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/main.js
Labels: bug, storytelling
