Repository EOX-A/EOxElements, pull requests merged in 2024-02, with the labels that each got.

#615 feat: add a `disablePlay` property to disable the play button
  elements/timecontrol/src/main.ts
  elements/timecontrol/timecontrol.stories.js
Labels: timecontrol

#627 Fix: Redundant cypress `it()` from drawtools test case
  elements/drawtools/test/cases/click-discard-btn.js
  elements/drawtools/test/cases/click-draw-btn.js
  elements/drawtools/test/cases/load-drawtool.js
Labels: bug, drawtools, test

#631 feat: support non-tiled sources
  elements/timecontrol/src/main.ts
Labels: timecontrol

#649 feat: feature editor with shape upload and drag&drop
  elements/drawtools/src/components/controller.js
  elements/drawtools/src/components/list.js
  elements/drawtools/src/enums/draw.js
  elements/drawtools/src/enums/index.js
  elements/drawtools/src/enums/test.js
  elements/drawtools/src/helpers/copy-text-to-clipboard.js
  elements/drawtools/src/helpers/generate-upload-events.js
  elements/drawtools/src/helpers/index.js
  elements/drawtools/src/main.js
  elements/drawtools/src/methods/draw/discard-drawing.js
  elements/drawtools/src/methods/draw/emit-drawn-features.js
  elements/drawtools/src/methods/draw/index.js
  elements/drawtools/src/methods/draw/init-layer.js
  elements/drawtools/src/methods/draw/on-draw-end.js
  elements/drawtools/src/methods/draw/start-drawing.js
  elements/drawtools/src/style.eox.js
  elements/drawtools/stories/drawtools.stories.js
  elements/drawtools/stories/import-features.js
  elements/drawtools/stories/index.js
  elements/drawtools/test/_mockMap.js
  elements/drawtools/test/cases/copy-geo-json-editor.js
  elements/drawtools/test/cases/index.js
  elements/drawtools/test/general.cy.js
  elements/map/helpers.ts
  elements/map/main.ts
  elements/map/src/draw.ts
  elements/map/src/select.ts
  utils/styles/input.css
Labels: enhancement, drawtools

#690 Feat: Add markdown rendering via `markdown-it` as string and URL
  .storybook/main.js
  elements/storytelling/package.json
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/enums/test.js
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/load-markdown-url.js
  elements/storytelling/src/main.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-url.js
  elements/storytelling/stories/primary.js
  elements/storytelling/stories/public/sample.md
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-markdown-url.js
  elements/storytelling/test/cases/load-markdown.js
  elements/storytelling/test/general.cy.js
  package-lock.json
Labels: storytelling

#696 Feat: Render markdown from default slot
  elements/storytelling/src/main.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-slot.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-markdown-slot.js
  elements/storytelling/test/general.cy.js
Labels: storytelling

#697 Fix: Markdown url pattern breaking on prod
  elements/storytelling/stories/markdown-url.js
Labels: bug, storytelling

#700 Feat: Render attributes via comment tags
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/enums/plugin.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/index.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-attr-comment.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-markdown-attribute-comment.js
  elements/storytelling/test/general.cy.js
Labels: storytelling
