Repository EOX-A/EOxElements, pull requests merged in 2024-03, with the labels that each got.

#703 Feat: Automated navigation from headings
  elements/storytelling/package.json
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/misc.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/navigation.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-navigation.js
  elements/storytelling/test/cases/load-sections.js
  elements/storytelling/test/general.cy.js
  package-lock.json
Labels: enhancement, storytelling

#720 feat: introduce reactive `items` property
  elements/itemfilter/itemfilter.stories.js
  elements/itemfilter/src/main.ts
  elements/itemfilter/test/general.cy.ts
  elements/itemfilter/test/state.cy.ts
Labels: itemfilter

#725 Feat: Basic frontmatter config
  elements/storytelling/package.json
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/index.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-config.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-basic-config.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-markdown-config.js
  elements/storytelling/test/general.cy.js
  package-lock.json
Labels: enhancement, storytelling

#748 Feat: Replace `h2` tags via `as` attr
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/misc.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/stories/custom-element.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-custom-element.js
  elements/storytelling/test/general.cy.js
Labels: enhancement, storytelling

#755 Feat: Storytelling section
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-sections.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/load-sections.js
Labels: enhancement, storytelling

#759 Feat: Add `h2` content as `title` attribute in sections
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
Labels: enhancement, storytelling

#761 Feat: Storytelling map section powered by @eox/map
  elements/storytelling/src/helpers/index.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/src/main.js
  elements/storytelling/src/markdown-it-plugin/markdown-it-decorate-improved.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-map-section.js
  elements/storytelling/stories/storytelling.stories.js
  elements/storytelling/test/cases/index.js
  elements/storytelling/test/cases/load-map-section.js
  elements/storytelling/test/general.cy.js
Labels: enhancement, storytelling

#773 Fix: Add default sensitive tags to dom purify list
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/enums/render.js
  elements/storytelling/src/main.js
  elements/storytelling/stories/markdown-attr-comment.js
Labels: bug, storytelling

#788 Feat: StoryTelling with Editor Mode
  elements/storytelling/package.json
  elements/storytelling/src/components/editor.js
  elements/storytelling/src/helpers/editor.js
  elements/storytelling/src/main.js
  elements/storytelling/src/style.eox.js
  elements/storytelling/stories/index.js
  elements/storytelling/stories/markdown-editor.js
  elements/storytelling/stories/storytelling.stories.js
  package-lock.json
Labels: enhancement, storytelling
