Repository EOX-A/EOxElements, pull requests merged in 2024-07, with the labels that each got.

#1080 Fix: Validator fixed for STAC based layer using joi
  elements/storytelling/src/helpers/validator.js
  package-lock.json
Labels: bug, storytelling

#1107 feat: allow passing an eox-map DOM element to `for` property
  elements/layercontrol/src/main.js
  elements/layercontrol/src/methods/layercontrol/first-update.js
Labels: layercontrol

#1142 chore(main): release map 1.11.0
  .release-please-manifest.json
  elements/map/CHANGELOG.md
  elements/map/package.json
Labels: autorelease: pending

#1138 Fix: Update event function to control inline mode state change
  elements/itemfilter/src/components/itemfilter-container.js
  elements/itemfilter/src/methods/container/index.js
  elements/itemfilter/src/methods/container/init-popver.js
Labels: bug, itemfilter

#1171 Fix: Range value as numerical (not date) and chip text as title not key
  elements/itemfilter/src/helpers/chip-items.js
  elements/itemfilter/src/methods/filters/range.js
  elements/itemfilter/stories/inline-mode.js
Labels: bug, itemfilter
