Repository EOX-A/EOxElements, pull requests merged in 2024-08, with the labels that each got.

#1180 feat!: refactor and convert ts to js
  .storybook/preview.js
  elements/stacinfo/CHANGELOG.md
  elements/stacinfo/package.json
  elements/stacinfo/src/components/body.js
  elements/stacinfo/src/components/featured.js
  elements/stacinfo/src/components/footer.js
  elements/stacinfo/src/components/header.js
  elements/stacinfo/src/components/shadow.js
  elements/stacinfo/src/components/tags.js
  elements/stacinfo/src/helpers/fetch-stac.js
  elements/stacinfo/src/helpers/index.js
  elements/stacinfo/src/helpers/index.ts
  elements/stacinfo/src/helpers/parse-entries.js
  elements/stacinfo/src/helpers/parse-stac.js
  elements/stacinfo/src/helpers/properties.js
  elements/stacinfo/src/main.js
  elements/stacinfo/src/main.ts
  elements/stacinfo/src/style.eox.js
  elements/stacinfo/src/style.ts
  elements/stacinfo/stacinfo.stories.js
  elements/stacinfo/stories/custom-slot-content.js
  elements/stacinfo/stories/featured-properties.js
  elements/stacinfo/stories/footer.js
  elements/stacinfo/stories/header.js
  elements/stacinfo/stories/index.js
  elements/stacinfo/stories/primary.js
  elements/stacinfo/stories/single-property.js
  elements/stacinfo/stories/stacinfo.stories.js
  elements/stacinfo/stories/tags.js
  elements/stacinfo/stories/unstyled.js
  elements/stacinfo/test/cases/create-list.js
  elements/stacinfo/test/cases/html-render.js
  elements/stacinfo/test/cases/index.js
  elements/stacinfo/test/cases/load-stacinfo.js
  elements/stacinfo/test/cases/no-html-render.js
  elements/stacinfo/test/cases/single-property.js
  elements/stacinfo/test/general.cy.js
  elements/stacinfo/tsconfig.json
  elements/stacinfo/typings.d.ts
  elements/stacinfo/vite.config.js
Labels: stacinfo, refactor

#1200 feat: implement loading indicator
  elements/geosearch/src/main.js
  elements/geosearch/stories/custom-loader.js
  elements/geosearch/stories/geosearch.stories.js
  elements/geosearch/stories/index.js
Labels: geosearch

#1208 fix: pre-calculate slider ticks to reduce loading time
  elements/timecontrol/src/sliderticks.js
Labels: timecontrol

#1202 feat: allow setting step in range filter
  elements/itemfilter/src/components/filters/range.js
  elements/itemfilter/src/methods/itemfilter/filter-apply.js
  elements/itemfilter/stories/inline-mode.js
  elements/itemfilter/stories/primary.js
  elements/itemfilter/test/testItems.json
Labels: itemfilter
