Repository EOX-A/EOxElements, pull requests merged in 2025-03, with the labels that each got.

#1571 fix: initialize bboxes with value
  elements/jsonform/package.json
  elements/jsonform/src/custom-inputs/spatial/editor.js
  elements/jsonform/src/custom-inputs/spatial/utils.js
  elements/jsonform/stories/bounding-box.js
  package-lock.json
Labels: enhancement

#1592 Feat: Upload media through add section modal
  cypress/support/component.js
  elements/storytelling/src/enums/custom-editor-interface.js
  elements/storytelling/src/enums/index.js
  elements/storytelling/src/enums/sample.js
  elements/storytelling/src/main.js
  elements/storytelling/stories/markdown-editor.js
  elements/storytelling/test/cases/load-editor.js
  elements/storytelling/test/fixtures/eox.png
  package-lock.json
  package.json
Labels: enhancement, storytelling

#1595 Fix: changes related to upload editor
  elements/storytelling/src/enums/custom-editor-interface.js
  elements/storytelling/src/enums/sample.js
  elements/storytelling/src/helpers/render-html-string.js
  elements/storytelling/stories/markdown-editor.js
Labels: bug

#1629 Fix: `fallback-src` not working due to `no-shadow` check skip
  elements/storytelling/src/helpers/render-html-string.js
Labels: bug, storytelling
